<html lang="en" >
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Timely</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- My style sheet -->
    <link type="text/css" rel='stylesheet' href="./css/jquery.qtip.min.css">
    <link rel="stylesheet" href="./css/app.css">

    <!-- JQuery-->
    <script src='./node_modules/jquery/dist/jquery.min.js'></script>
    <script src='./node_modules/jquery/dist/jquery.qtip.min.js'></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Full Calendar -->
    <link rel='stylesheet' href='./node_modules/fullcalendar/fullcalendar.css' />
    <script src='./node_modules/fullcalendar/lib/moment.min.js'></script>
    <script src='./node_modules/fullcalendar/fullcalendar.js'></script>
    <script src='./node_modules/fullcalendar/gcal.js'></script>

    <!-- Your application bootstrap  -->
    <script src="./js/app.js"></script>
    <script src="./js/googleAuth.js"></script>
    <script src="./js/calendarCtrl.js"></script>
    <!--<script src="https://apis.google.com/js/client.js?onload=initClient"></script>-->


</head>

<body ng-app="Timely" ng-cloak layout="column" ng-controller="contentCtrl">
  <!--
    Your HTML content here
  -->

    <div class="container" layout="row" flex>
        <!-- sidebar -->
        <md-sidenav id="sidebar" md-is-locked-open="true" class="md-whiteframe-4dp">

            <md-list>
                <md-list-item>
                    <md-button id="authorize-button" class="md-raised md-primary" style = "text-align: center; display: none;">
                        Authorize
                    </md-button>
                    <md-button id="signout-button" class="md-raised md-warn" style = "text-align: center; display: none;">
                        Sign Out
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button ng-click="show('appointment')" class="md-raised">
                        <md-icon md-svg-src="./assets/svg1.svg" class="button-icon"></md-icon>
                        Appointment
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button ng-click="show('officeHour')" class="md-raised">
                        <md-icon md-svg-src="./assets/svg2.svg" class="button-icon"></md-icon>
                        Office Hour
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button id='calendar-tab' ng-click="show('calendar')" class="md-raised">
                        <md-icon md-svg-src="./assets/svg3.svg" class="button-icon"></md-icon>
                        Calendar
                    </md-button>
                </md-list-item>
            </md-list>

        </md-sidenav> <!-- sidebar -->

        <!-- Content -->
        <div ng-switch="toShow" layout="column" flex>
          <!-- Appointment -->
          <div ng-switch-when="appointment" layout="column" flex>

            <md-toolbar class="md-whiteframe-4dp">
              <h1>Timely > Appointment</h1>
            </md-toolbar>

              <div id='calendar'></div>

            <md-content id="content">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">International Center</span>
                    <span class="md-subhead">Content</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="renderEvent()" >Make Appointment</md-button>
                </md-card-actions>
              </md-card>

              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Health Center</span>
                    <span class="md-subhead">Content</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-raised">Make Appointment</md-button>
                </md-card-actions>
              </md-card>

              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Academic Advisor</span>
                    <span class="md-subhead">Content</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-raised">Make Appointment</md-button>
                </md-card-actions>
              </md-card>
            </md-content>



          </div> <!-- Appointment -->

          <!-- office hour -->
          <div ng-switch-when="officeHour" layout="column" flex>

            <md-toolbar class="md-whiteframe-4dp">
              <h1>Timely > Office Hour</h1>
            </md-toolbar>

            <md-content id="content">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Dr.Gilbert Young</span>
                    <span class="md-subhead">Content</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-raised">Make Appointment</md-button>
                  <md-button class="md-raised">Select Office hour</md-button>
                </md-card-actions>
              </md-card>

              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Dr.Sun Yu</span>
                    <span class="md-subhead">Content</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-raised">Make Appointment</md-button>
                  <md-button class="md-raised">Select Office Hour</md-button>
                </md-card-actions>
              </md-card>
            </md-content>

          </div> <!-- office hour -->

          <!-- Calendar -->
          <div ng-switch-when="calendar" layout="column" flex>

              <md-toolbar class="md-whiteframe-4dp">
                  <h1>Timely > Calendar</h1>
              </md-toolbar>

              <md-content id="content">
                  <div id='loading'>loading...</div>
                  <div id='calendar'></div>
              </md-content>

          </div> <!-- Calendar -->

        </div> <!-- content -->

    </div>
    <pre id="contentPre"></pre>


  <script type="text/javascript">


    </script>

    <script async defer src="https://apis.google.com/js/api.js"
          onload="this.onload=function(){};handleClientLoad()"
          onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>


</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
